{
    "ace": {
        "@animatedScroll": "true",
        "@antialiasedfonts": "false",
        "@behavioursEnabled": "true",
        "@cursorStyle": "ace",
        "@displayIndentGuides": "true",
        "@fadeFoldWidgets": "true",
        "@fontFamily": "Monaco, Menlo, Ubuntu Mono, Consolas, source-code-pro, monospace",
        "@fontSize": 13,
        "@highlightActiveLine": "true",
        "@highlightGutterLine": "true",
        "@highlightSelectedWord": "true",
        "@keyboardmode": "default",
        "@mergeUndoDeltas": "off",
        "@overwrite": "false",
        "@printMarginColumn": "80",
        "@scrollPastEnd": "0.5",
        "@scrollSpeed": 2,
        "@selectionStyle": "line",
        "@showFoldWidgets": "true",
        "@showGutter": true,
        "@showInvisibles": false,
        "@showPrintMargin": "true",
        "@theme": "ace/theme/cloud9_night_low_color",
        "@useWrapMode": "false",
        "@wrapBehavioursEnabled": false,
        "@wrapToView": "true",
        "custom-types": {
            "json()": {
                "^searchresults": "c9search",
                "settings": "javascript"
            }
        },
        "statusbar": {
            "@show": true
        }
    },
    "breakpoints": {
        "@active": "true"
    },
    "build": {
        "@autobuild": false
    },
    "collab": {
        "@showbubbles": true
    },
    "config": {
        "init.js": {
            "json()": "// You can access plugins via the 'services' global variable\n/*global services, plugin*/\n\n"
        }
    },
    "debug": {
        "@autoshow": true,
        "@pause": 0
    },
    "findinfiles": {
        "@clear": "true",
        "@consolelaunch": "false",
        "@fullpath": "false",
        "@project": "/",
        "@scrolldown": "false"
    },
    "format": {
        "jsbeautify": {
            "@advanced": {},
            "@braces": "end-expand",
            "@indent_inner_html": true,
            "@jslinthappy": true,
            "@keeparrayindentation": true,
            "@preserveempty": "true",
            "@space_before_conditional": "true",
            "@unescape_strings": "true"
        }
    },
    "general": {
        "@animateui": true,
        "@automerge": "false",
        "@confirmexit": true,
        "@confirmmerge": "true",
        "@preview-navigate": false,
        "@preview-tree": false,
        "@revealfile": false,
        "@skin": "dark",
        "@treestyle": "default"
    },
    "key-bindings": {
        "@platform": "auto",
        "@preset": "default",
        "json()": [
            {
                "command": "formatcode",
                "keys": {
                    "mac": [
                        "Cmd-Shift-F"
                    ]
                }
            },
            {
                "command": "gototableft",
                "keys": {
                    "mac": [
                        "Cmd-Alt-Left"
                    ]
                }
            },
            {
                "command": "gototabright",
                "keys": {
                    "mac": [
                        "Cmd-Alt-Right"
                    ]
                }
            },
            {
                "command": "closetab",
                "keys": {
                    "mac": [
                        "Cmd-W"
                    ]
                }
            },
            {
                "command": "searchinfiles",
                "keys": {
                    "mac": [
                        "Ctrl-H"
                    ]
                }
            },
            {
                "command": "findnext",
                "keys": {
                    "mac": [
                        "Cmd-K"
                    ]
                }
            },
            {
                "command": "findprevious",
                "keys": {
                    "mac": [
                        "Cmd-Shift-K"
                    ]
                }
            },
            {
                "command": "openterminal",
                "keys": {
                    "mac": [
                        "Cmd-Alt-T"
                    ]
                }
            },
            {
                "command": "switchterminal",
                "keys": {
                    "mac": [
                        "Cmd-Alt-S"
                    ]
                }
            },
            {
                "command": "newfile",
                "keys": {
                    "mac": [
                        "Cmd-N"
                    ]
                }
            },
            {
                "command": "newfolder",
                "keys": {
                    "mac": [
                        "Cmd-Shift-N"
                    ]
                }
            },
            {
                "command": "previouspane",
                "keys": {
                    "mac": [
                        "Alt-Shift-Esc"
                    ]
                }
            },
            {
                "command": "emmet_select_previous_item",
                "keys": {
                    "mac": [
                        "Cmd-Shift-,"
                    ]
                }
            },
            {
                "command": "emmet_next_edit_point",
                "keys": {
                    "mac": [
                        "Ctrl-Shift-K"
                    ]
                }
            },
            {
                "command": "emmet_prev_edit_point",
                "keys": {
                    "mac": [
                        "Ctrl-Shift-J"
                    ]
                }
            },
            {
                "command": "navigate",
                "keys": {
                    "mac": [
                        "Cmd-Shift-R"
                    ]
                }
            }
        ]
    },
    "language": {
        "@continuousCompletion": true,
        "@enterCompletion": true,
        "@hints": true,
        "@instanceHighlight": true,
        "@overrideMultiselectShortcuts": true
    },
    "metadata": {
        "@undolimit": "100"
    },
    "mount": {
        "@grandfathered-shown": false
    },
    "openfiles": {
        "@hidetree": "false",
        "@show": false
    },
    "output": {
        "@backgroundColor": "#003a58",
        "@foregroundColor": "#FFFFFF",
        "@keepOutput": "false",
        "@nosavequestion": "false",
        "@selectionColor": "#225477"
    },
    "preview": {
        "@default": "preview.browser",
        "@onSave": "false",
        "@running_app": "false"
    },
    "projecttree": {
        "@hiddenFilePattern": "*.pyc, __pycache__, .*",
        "@scope": "false",
        "@showhidden": true
    },
    "runconfig": {
        "@debug": "true",
        "@saveallbeforerun": "true",
        "@showruncfglist": "false"
    },
    "tabs": {
        "@asterisk": true,
        "@autoclosepanes": true,
        "@show": true,
        "@title": true
    },
    "terminal": {
        "@antialiasedfonts": true,
        "@backgroundColor": "#262626",
        "@blinking": true,
        "@defaultEnvEditor": true,
        "@fontfamily": "Ubuntu Mono, Menlo, Consolas, monospace",
        "@fontsize": 12,
        "@foregroundColor": "#00D873",
        "@scrollback": 3000,
        "@selectionColor": "#9C1CAE",
        "noclosequestion": {
            "json()": "true"
        }
    },
    "tour": {
        "@default-complete": false
    },
    "welcome": {
        "@first": true,
        "@switched": true
    }
}